<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>材料产品关联</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
    <!-- jQuery 库 -->
    <script src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
    <script src="/static/js/http_code.jquery.com_jquery-3.6.0.min.js"></script>
    <script src="/static/js/http_cdnjs.cloudflare.com_ajax_libs_bootstrap-3-typeahead_4.0.2_bootstrap3-typeahead.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin: 20px;
        }
        .layui-table-view .layui-table { /* 调整表格样式 */
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 统一的搜索表单 -->
    <form class="layui-form" id="searchForm">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="time" id="date" placeholder="请选择日期" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select class="input area-select" name="placementArea" id="areaSelect">
                    <option value="" selected>选择库位</option>
                    <option th:each="placement_area : ${areas}"
                            th:value="${placement_area.area}"
                            th:text="${placement_area.area}"></option>
                </select>
            </div>
<!--            <div class="layui-input-inline">-->
<!--                <select name="steelMill">-->
<!--                    <option value="" selected>选择钢厂</option>-->
<!--                    <option th:each="steel_type : ${steelTypes}"-->
<!--                            th:value="${steel_type.name}"-->
<!--                            th:text="${steel_type.name}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="layui-input-inline">-->
<!--                <select name="steelGrade">-->
<!--                    <option value="" selected>选择钢材等级</option>-->
<!--                    <option th:each="steel_grade : ${steelGrades}"-->
<!--                            th:value="${steel_grade.grade}"-->
<!--                            th:text="${steel_grade.grade}"></option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="layui-input-inline">
                <div class="layui-input">
                    <select name="dimensions" id="dimensions" lay-search>
                        <option value="" selected>选择尺寸</option>
                        <option th:each="steel_size : ${steelSizes}"
                                th:value="${steel_size.size}"
                                th:text="${steel_size.size}"></option>
                    </select>
                </div>
            </div>
<!--            <div class="layui-input-inline">-->
<!--                <select name="tradeMode" id="tradeMode"  >-->
<!--                    <option value="" selected>选择贸易方式</option>-->
<!--                    <option th:each="trade_mode : ${tradeModes}"-->
<!--                            th:value="${trade_mode.mode}"-->
<!--                            th:text="${trade_mode.mode}"></option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="layui-inline">-->
<!--                <button type="button" class="layui-btn" id="advancedSearchToggle">高级搜索</button>-->
<!--            </div>-->
<!--            <div class="layui-inline" id="advancedSearchForm" style="display: none;">-->
<!--                <div class="layui-input-inline" >-->
<!--                    <select name="purchaser" id="purchaser" >-->
<!--                        <option value="" selected>请选择购买方</option>-->
<!--                        <option th:each="purchaser : ${purchasers}"-->
<!--                                th:value="${purchaser.purchaser}"-->
<!--                                th:text="${purchaser.purchaser}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <div class="layui-input-inline">-->
<!--                        <select name="customer">-->
<!--                            <option value="" selected>搜索客户</option>-->
<!--                            <option th:each="customer : ${customers}"-->
<!--                                    th:value="${customer.name}"-->
<!--                                    th:text="${customer.name}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="furnaceNumber" placeholder="搜索炉号" class="layui-input">-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="supplierBatchNumber" placeholder="搜索批号" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-inline">
                <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon"></i> 搜 索
                </button>
            </div>
        </div>
    </form>
    <table id="recordTable" lay-filter="recordTableFilter"></table>
    <div id="newTableContainer"></div>
</div>
<script>
    layui.use(['table', 'form', 'laydate'], function(){
        var table = layui.table;
        var form = layui.form;
        var laydate=layui.laydate;
        // 初始化日期范围选择器
        laydate.render({
            elem: '#date',
            value: new Date() // 设置默认值为当前日期
        });
        // 渲染表格
        var recordTable = table.render({
            elem: '#recordTable',
            url: '/shipment/getStockStatusBeforeCutoffDate',
            parseData: function(res) { // 将原始数据格式适配成 layui 表格组件所期望的格式
                var filteredData = res.filter(function(record) {
                    return record.weight > 0;
                });
                return {
                    "code": 0, // 解析接口状态
                    "msg": "", // 解析提示文本
                    "count": filteredData.length, // Parse data length
                    "data": filteredData // Parse data list
                };
            },
            request: {
                pageName:'page',
                limitName:'size'
            },
            height: 600, // 设置表格高度
            toolbar: ['filter', 'exports', 'print'],
            cols: [ [ // 表头
                {field: '', title: '材料出入库记录表',colspan:10,rowspan:1},
                ],
                [ // 表头
                    {field: ' ', title: '入库日期',colspan:1,rowspan:1},
                    {field: ' ', title: '2024.02.27',colspan:1,rowspan:1},
                    {field: ' ', title: '尺寸：',colspan:1,rowspan:1},
                    {field: ' ', title: '材质：',colspan:1,rowspan:1},
                    {field: ' ', title: '放置区域：',colspan:1,rowspan:1}
                ],
                [ // 表头
                    {field: 'uniqueIdentifier', title: '序号'},
                    {field: 'supplierBatchNumber', title: '生产批号'},
                    {field: 'bundleCount', title: '数量(个)'},
                    {field: 'time', title: '领用日期', templet: function(d){
                        return formatDate(d.time);
                    }},
                    {field: ' ', title: '领用人员'}
                ]
            ],
            limits: [200, 500, 1000, 20000],
            limit: 200,
            page: true, // 开启分页
        });

        // 格式化日期
        function formatDate(dateStr) {
            if (!dateStr) return '';
            let date = new Date(dateStr);
            let year = date.getFullYear();
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }


        // 统一搜索表单提交事件
        form.on('submit(data-search-btn)', function(data) {
            var req = {};
            var formData = data.field;
            if (formData.steelMill !== '') {
                req.steelMill = formData.steelMill;
            }
            if (formData.steelGrade !== '') {
                req.steelGrade = formData.steelGrade;
            }
            if (formData.tradeMode !== '') {
                req.tradeMode = formData.tradeMode;
            }
            if (formData.dimensions !== '') {
                req.dimensions = formData.dimensions;
            }
            if (formData.purchaser !== '') {
                req.purchaser = formData.purchaser;
            }
            if (formData.customer !== '') {
                req.customer = formData.customer;
            }
            if (formData.furnaceNumber !== '') {
                req.furnaceNumber = formData.furnaceNumber;
            }
            if (formData.supplierBatchNumber !== '') {
                req.supplierBatchNumber = formData.supplierBatchNumber;
            }
            if (formData.placementArea !== '') {
                req.placementArea = formData.placementArea;
            }
            req.cutoffDate = formData.time;
            // 发送Ajax请求获取数据
            $.ajax({
                url: '/shipment/getStockStatusBeforeCutoffDate',
                method: 'GET',
                data: req,
                success: function(res) {
                    console.log(res); // 输出返回数据
                    if (res && res.length > 0) {
                        var firstRecord = res[0];  // 直接访问数组的第一个元素
                        var steelMill = firstRecord.steelMill || '';
                        var steelGrade = firstRecord.steelGrade || '';
                        var dimensions = firstRecord.dimensions || '';
                        var furnaceNumber = firstRecord.furnaceNumber || '';
                        var placementArea = $('#areaSelect').val();
                        var selectedDimensions = $('#dimensions').val();
                        var tableHead = [
                            {field: ' ', title: '入库日期：', colspan: 1, rowspan: 1},
                            {field: ' ', title: formData.time, colspan: 1, rowspan: 1},
                            {field: ' ', title: '型号：' + selectedDimensions, colspan: 1, rowspan: 1},
                            {field: ' ', title: '材质：' + steelMill + ' ' + steelGrade, colspan: 1, rowspan: 1},
                            {field: ' ', title: '放置区域：' + placementArea, colspan: 1, rowspan: 1},
                        ];
                        // 执行搜索重载
                        recordTable.reload({
                            where: req,
                            page: { curr: 1 },
                            cols: [ [
                                {field: '', title: '材料出入库记录表', colspan: 10, rowspan: 1},
                            ], tableHead, [
                                {field: 'uniqueIdentifier', title: '序号'},
                                {field: 'supplierBatchNumber', title: '生产批号'},
                                {field: 'bundleCount', title: '数量(个)'},
                                {field: 'time', title: '领用日期', templet: function(d) {
                                        return formatDate(d.time);
                                    }},
                                {field: ' ', title: '领用人员'}
                            ]]
                        });
                        // 判断steelMill内容并发起请求
                        if (steelMill.includes("大同材") || steelMill.includes("山阳材")) {
                            $.get("/loadTable", {
                                steelMill: steelMill,
                                dimensions: selectedDimensions,
                            }, function(data) {
                                $("#newTableContainer").html(data);
                            });
                        } else {
                            $.get("/loadTable", {
                                steelMill: steelMill,
                                steelGrade: steelGrade,
                                dimensions: selectedDimensions,
                                furnaceNumber: furnaceNumber
                            }, function(data) {
                                $("#newTableContainer").html(data);
                            });
                        }
                    }
                }
            });
            return false;
        });
        // // 高级搜索开关逻辑
        // $('#advancedSearchToggle').click(function() {
        //     $('#advancedSearchForm').slideToggle();
        // });
    });

</script>
</body>
</html>
