<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>材料产品关联</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
    <!-- jQuery 库 -->
    <script src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
    <script src="/static/js/http_code.jquery.com_jquery-3.6.0.min.js"></script>
    <script src="/static/js/http_cdnjs.cloudflare.com_ajax_libs_bootstrap-3-typeahead_4.0.2_bootstrap3-typeahead.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin: 20px;
        }
        .layui-table-view .layui-table { /* 调整表格样式 */
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 统一的搜索表单 -->
    <form class="layui-form" id="searchForm">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="time" id="date" placeholder="请选择日期" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select class="input area-select" name="placementArea" id="areaSelect">
                    <option value="" selected>选择库位</option>
                    <option th:each="placement_area : ${areas}"
                            th:value="${placement_area.area}"
                            th:text="${placement_area.area}"></option>
                </select>
            </div>
<!--            <div class="layui-input-inline">-->
<!--                <select name="steelMill">-->
<!--                    <option value="" selected>选择钢厂</option>-->
<!--                    <option th:each="steel_type : ${steelTypes}"-->
<!--                            th:value="${steel_type.name}"-->
<!--                            th:text="${steel_type.name}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="layui-input-inline">-->
<!--                <select name="steelGrade">-->
<!--                    <option value="" selected>选择钢材等级</option>-->
<!--                    <option th:each="steel_grade : ${steelGrades}"-->
<!--                            th:value="${steel_grade.grade}"-->
<!--                            th:text="${steel_grade.grade}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="layui-input-inline">-->
<!--                <div class="layui-input">-->
<!--                    <select name="dimensions" id="dimensions" lay-search>-->
<!--                        <option value="" selected>选择尺寸</option>-->
<!--                        <option th:each="steel_size : ${steelSizes}"-->
<!--                                th:value="${steel_size.size}"-->
<!--                                th:text="${steel_size.size}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-input-inline">-->
<!--                <select name="tradeMode" id="tradeMode"  >-->
<!--                    <option value="" selected>选择贸易方式</option>-->
<!--                    <option th:each="trade_mode : ${tradeModes}"-->
<!--                            th:value="${trade_mode.mode}"-->
<!--                            th:text="${trade_mode.mode}"></option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="layui-inline">-->
<!--                <button type="button" class="layui-btn" id="advancedSearchToggle">高级搜索</button>-->
<!--            </div>-->
<!--            <div class="layui-inline" id="advancedSearchForm" style="display: none;">-->
<!--                <div class="layui-input-inline" >-->
<!--                    <select name="purchaser" id="purchaser" >-->
<!--                        <option value="" selected>请选择购买方</option>-->
<!--                        <option th:each="purchaser : ${purchasers}"-->
<!--                                th:value="${purchaser.purchaser}"-->
<!--                                th:text="${purchaser.purchaser}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <div class="layui-input-inline">-->
<!--                        <select name="customer">-->
<!--                            <option value="" selected>搜索客户</option>-->
<!--                            <option th:each="customer : ${customers}"-->
<!--                                    th:value="${customer.name}"-->
<!--                                    th:text="${customer.name}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="furnaceNumber" placeholder="搜索炉号" class="layui-input">-->
<!--                </div>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="supplierBatchNumber" placeholder="搜索批号" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-inline">
                <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn">
                    <i class="layui-icon"></i> 搜 索
                </button>
            </div>
        </div>
    </form>
    <table id="recordTable" lay-filter="recordTableFilter"></table>
    <table id="bearingsTable" lay-filter="bearingsTableFilter"></table>
</div>
<script type="text/html" id="exportButtonTpl">
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="exportPDF">导出PDF</button>
</script>

<script>
    var userReviewGroupId;
    var userAuthority;
    var userDepositoryId;
    var userDepository;
    var depositoryId;

    layui.use(['table', 'form', 'laydate'], function(){
        var table = layui.table;
        var form = layui.form;
        var laydate=layui.laydate;
        // 初始化日期范围选择器
        laydate.render({
            elem: '#date',
            value: new Date() // 设置默认值为当前日期
        });
        // 渲染表格
        var recordTable = table.render({
            elem: '#recordTable',
            url: '/shipment/getStockStatusBeforeCutoffDate',
            parseData: function(res) { // 将原始数据格式适配成 layui 表格组件所期望的格式
                var filteredData = res.filter(function(record) {
                    return record.weight > 0;
                });
                return {
                    "code": 0, // 解析接口状态
                    "msg": "", // 解析提示文本
                    "count": filteredData.length, // Parse data length
                    "data": filteredData // Parse data list
                };
            },
            request: {
                pageName:'page',
                limitName:'size'
            },
            height: 600, // 设置表格高度
            toolbar: ['filter', 'exports', 'print'],
            cols: [ [ // 表头
                {field: 'uniqueIdentifier', title: '标识',totalRowText: '合计'},
                {field: 'invoiceNumber', title: '发票编号',hide:true},
                {field: 'furnaceNumber', title: '炉号'},
                {field: 'steelMill', title: '钢厂'},
                {field: 'steelGrade', title: '钢材等级'},
                {field: 'dimensions', title: '尺寸'},
                {field: 'tradeMode', title: '贸易方式'},
                {field: 'bundleCount', title: '支数'},
                {field: 'weight', title: '重量'},
                {field: 'customer', title: '客户'},
                {field: 'placementArea', title: '库位'},
                {field: 'supplierBatchNumber', title: '供应商生产批号'},
                {field: 'purchaser', title: '购买方',hide:true},
                {field: 'deliveryPoint', title: '到货地址',hide:true},
                {field: 'arrivalPortDate', title: '到港日期',hide:true, templet: function(d){
                        return formatDate(d.arrivalDate);
                    }},
                {field: 'arrivalDate', title: '到达日期', templet: function(d){
                        return formatDate(d.arrivalDate);
                    }},
                {field: 'export', title: '导出PDF'}
                    // templet: '#exportButtonTpl'}
            ]],
            limits: [200, 500, 1000, 20000],
            limit: 200,
            page: true, // 开启分页
            totalRow: true, // 开启合计行
            done: function(res, curr, count) {
                // 计算支数与重量的合计
                var totalBundleCount = 0;
                var totalWeight = 0;
                res.data.forEach(function(item) {
                    totalBundleCount += parseInt(item.bundleCount);
                    totalWeight += parseFloat(item.weight);
                });
                // 更新合计行的值
                var totalRow = document.getElementsByClassName('layui-table-total')[0];
                if (totalRow) {
                    var bundleCountCell = totalRow.querySelector('td[data-field="bundleCount"]');
                    var weightCell = totalRow.querySelector('td[data-field="weight"]');
                    if (bundleCountCell) {
                        bundleCountCell.getElementsByClassName('layui-table-cell')[0].innerText = totalBundleCount.toString();
                    }
                    if (weightCell) {
                        weightCell.getElementsByClassName('layui-table-cell')[0].innerText = totalWeight.toFixed(2).toString();
                    }
                }
            }
        });
        table.on('tool(recordTableFilter)', function(obj){
            var data = obj.data;
            if(obj.event === 'exportPDF'){
                // 获取当前行数据，调用导出 PDF 的函数
                exportToPDF(data);
            }
        });

        function exportToPDF(data) {
            // 定义文档内容
            var docDefinition = {
                content: [
                    { text: '发票编号: ' + data.invoiceNumber },
                    { text: '炉号: ' + data.furnaceNumber },
                    { text: '购买方: ' + data.purchaser },
                    { text: '钢厂: ' + data.steelMill },
                    { text: '钢材等级: ' + data.steelGrade }
                    // 可以根据需要添加更多的数据
                ]
            };

            // 使用 PDFMake 生成 PDF 文件
            pdfMake.createPdf(docDefinition).download('export.pdf');
        }

        // 格式化日期
        function formatDate(dateStr) {
            if (!dateStr) return '';
            let date = new Date(dateStr);
            let year = date.getFullYear();
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
        // 统一搜索表单提交事件
        form.on('submit(data-search-btn)', function(data) {
            var req = {};
            var formData = data.field;
            if (formData.steelMill !== '') {
                req.steelMill = formData.steelMill;
            }
            if (formData.steelGrade !== '') {
                req.steelGrade = formData.steelGrade;
            }
            if (formData.tradeMode !== '') {
                req.tradeMode = formData.tradeMode;
            }
            if (formData.dimensions !== '') {
                req.dimensions = formData.dimensions;
            }
            if (formData.purchaser !== '') {
                req.purchaser = formData.purchaser;
            }
            if (formData.customer !== '') {
                req.customer = formData.customer;
            }
            if (formData.furnaceNumber !== '') {
                req.furnaceNumber = formData.furnaceNumber;
            }
            if (formData.supplierBatchNumber !== '') {
                req.supplierBatchNumber = formData.supplierBatchNumber;
            }
            if (formData.placementArea !== '') {
                req.placementArea = formData.placementArea;
            }
            req.cutoffDate = formData.time;
            // 执行搜索重载
            recordTable.reload({
                url: '/shipment/getStockStatusBeforeCutoffDate',
                where: req,
                page: { curr: 1 }
            });
            return false;
        });
        // // 高级搜索开关逻辑
        // $('#advancedSearchToggle').click(function() {
        //     $('#advancedSearchForm').slideToggle();
        // });
    });

</script>
</body>
</html>
