<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>转移记录查询</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script></head>
<body>

<div class="container">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs12">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">选择日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" placeholder="请选择起止日期" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="searchBtn">搜索</button>
                    </div>
<!--                    <h2 style="">转出后两天内没有转入，将以黄色预警</h2>-->
                </div>
            </form>
        </div>
    </div>
    <table id="recordsTable" lay-filter="recordsTableFilter" class="layui-table" ></table>
</div>
<script src="/static/js/http_code.jquery.com_jquery-3.6.0.min.js"></script>
<script>
    layui.use(['table', 'form', 'laydate'], function(){
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
// 获取当前日期并格式化为 YYYY-MM-DD
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = ("0" + (currentDate.getMonth() + 1)).slice(-2); // 月份从0开始计算，需要加1
        var day = ("0" + currentDate.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;
        // 初始化日期选择器
        laydate.render({
            elem: '#date'
            ,range:true,
            rangeLinked: true,
            shortcuts: [
                {
                    text: "上个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setMonth(date1.getMonth() - 1);
                        date1.setDate(1);
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);
                        var date2 = new Date();
                        date2.setDate(1);
                        date2.setHours(0, 0, 0, 0);
                        date2 = date2.getTime() - 1;
                        value.push(new Date(date2));
                        return value;
                    }
                },
                {
                    text: "这个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setDate(1);//1号
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);
                        var date2 = new Date();
                        date2.setMonth(date2.getMonth() + 1);
                        date2.setDate(0); // 设置为当前月的最后一天
                        date2.setHours(23, 59, 59, 999); // 设置为当天的最后一刻
                        value.push(date2);

                        return value;
                    }

                },
                {
                    text: "下个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setMonth(date1.getMonth() + 1);
                        date1.setDate(1);
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);
                        var date2 = new Date();
                        date2.setMonth(date2.getMonth() + 2);
                        date2.setDate(1);
                        date2.setHours(0, 0, 0, 0);
                        date2 = date2.getTime() - 1;
                        value.push(new Date(date2));
                        return value;
                    }
                }
            ]
        });

        // 初始化表格
        table.render({
            elem: '#recordsTable',
            url: '/shipment/viewTransfer', // 数据接口
            height: 600, // 设置表格高度
            // page: true, // 开启分页
            toolbar: ['filter', 'exports', 'print'],
            cols: [ [ // 表头
                {field: 'unique_identifier', title: '材料ID'},
                {field: 'steel_mill', title: '钢厂'},
                {field: 'steel_grade', title: '钢等'},
                {field: 'dimensions', title: '尺寸'},
                {field: 'weight', title: '重量'},
                {field: 'supplier_batch_number', title: '批号', hide:true},
                {field: 'from_area', title: '转出区',sort: true},
                {field: 'to_area', title: '转入区'},
                {field: 'from_time', title: '转出时间', templet: function(d) {
                        return formatDate(d.from_time);}},
                {field: 'to_time', title: '转入时间', templet: function(d) {
                        return formatDate(d.to_time);}},
            ]],
            done: function(res, curr, count) {
                // 表格渲染完成后的回调
            }
        });

        function formatDate(dateStr) {
            if (!dateStr) return '';
            let date = new Date(dateStr);
            let year = date.getFullYear();
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
        // 监听搜索按钮点击事件
        $('#searchBtn').on('click', function(){
            // 重新加载表格数据
            table.reload('recordsTable', {
                where: {
                    date: $('#date').val() // 获取日期选择器的值
                }
            });
        });
    });
</script>

</body>
</html>
