<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File and Display Data</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/http_unpkg.com_html5-qrcode.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.0.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.js" charset="utf-8"></script>
    <style>
        @media print {
            body * {
                visibility: hidden; /* Hide all content in body during print, except for elements that are explicitly visible */
            }
            #qrcodeDisplayArea, #qrcodeDisplayArea * {
                visibility: visible; /* Make QR codes visible */
            }
            #qrcodeDisplayArea {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        #qrcodeDisplayArea div {
            display: inline-block;
            margin: 10px; /* Add space around each QR code */
            padding: 10px; /* Optional: Adds padding around the QR code for better visibility */
            border: 1px solid #ccc; /* Optional: Adds a border around each QR code */
            background-color: #f9f9f9; /* Optional: Sets a background color for each QR code area */
        }
        table {
            margin-top: 20px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-container">
    <!-- Form for additional fields -->
    <form class="layui-form" action="javascript:uploadFile()">
        <div class="layui-form-item">
            <label class="layui-form-label">发票编号:</label>
            <div class="layui-input-inline">
                <input type="text" id="invoiceNumber" name="invoiceNumber"  placeholder="请输入发票编号" class="layui-input" autocomplete="off">
            </div>
            <label class="layui-form-label">到货点:</label>
            <div class="layui-input-inline">
                <select name="deliveryPoint" id="deliveryPoint" required lay-verify="required">
                    <option value="ZAB" selected>ZAB</option>
                    <option value="SAB" >SAB</option>
                </select>
            </div>
            <label class="layui-form-label">客户:</label>
            <div class="layui-input-inline">
                <select name="customer" id="customer" required lay-verify="required">
                    <option value="" selected>搜索客户</option>
                    <option th:each="customer : ${customers}"
                            th:value="${customer.name}"
                            th:text="${customer.name}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">贸易方式:</label>
            <div class="layui-input-inline">
                <select name="tradeMode" id="tradeMode" required lay-verify="required">
                    <option value="" selected>请选择贸易方式</option>
                    <option value="A" >A</option>
                    <option value="B" >B</option>
                    <option value="C" >C</option>
                </select>
            </div>
            <label class="layui-form-label">到港日期:</label>
            <div class="layui-input-inline">
                <input id="arrivalPortDate" name="arrivalPortDate" placeholder="请输入到港日期" required lay-verify="required" class="layui-input" autocomplete="off">
            </div>
            <label class="layui-form-label">到达日期:</label>
            <div class="layui-input-inline">
                <input id="arrivalDate" name="arrivalDate"  placeholder="请输入到达日期" required lay-verify="required" class="layui-input" autocomplete="off">
            </div>
            <label class="layui-form-label">购买方:</label>
            <div class="layui-input-inline">
                <select name="tradeMode" id="purchaser" required lay-verify="required">
                    <option value="" selected>请选择购买方</option>
                    <option value="浙江旭日绵轴承有限公司" >浙江旭日绵轴承有限公司</option>
                    <option value="浙江旭日轴承有限公司" >浙江旭日轴承有限公司</option>
                    <option value="日本旭" >日本旭</option>
                </select>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;  flex-direction: column;">
            <h3 style="margin: 10px 0;">选择文件进行导入</h3>
            <input type="file" id="excelFile" accept=".xlsx, .xls">
        </div>
        <br><br>
        <div class="layui-form-item">
            <div class="layui-input-block" style="display: flex; justify-content: end">
                <button type="submit" class="layui-btn" lay-submit>生成二维码</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="printQRCode()">打印二维码</button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="recordTable"></table> <!-- Layui Table Container -->
    <div id="qrcodeDisplayArea"></div> <!-- Area to display QR codes -->
</div>
<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            laydate = layui.laydate;
        form.render(); // Update all form elements

        laydate.render({
            elem: '#arrivalPortDate',
            type: 'date'
        });
        laydate.render({
            elem: '#arrivalDate',
            type: 'date'
        });
    });
    function uploadFile() {
        const fileInput = document.getElementById('excelFile');
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("file", file);
        // 添加表单字段
        formData.append("invoiceNumber", document.getElementById('invoiceNumber').value);
        formData.append("customer", document.getElementById('customer').value);
        formData.append("tradeMode", document.getElementById('tradeMode').value);
        formData.append("deliveryPoint", document.getElementById('deliveryPoint').value);
        formData.append("purchaser", document.getElementById('purchaser').value);
        formData.append("arrivalPortDate", document.getElementById('arrivalPortDate').value);
        formData.append("arrivalDate", document.getElementById('arrivalDate').value);
        fetch('/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                displayData(data);
                generateQRCode(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function displayData(shipments) {
        layui.use('table', function() {
            var table = layui.table;
            table.render({
                elem: '#recordTable',
                data: shipments, // 使用返回的数据直接渲染表格
                cellMinWidth: 150, // Set minimum cell width
                height: 600, // 设置表格高度
                cols: [ [
                    {field: 'id', title: 'id',hide:true},
                    {field: 'invoiceNumber', title: '发票编号'},
                    {field: 'customer', title: '客户'},
                    {field: 'tradeMode', title: '贸易方式'},
                    {field: 'deliveryPoint', title: '到货点'},
                    {field: 'arrivalPortDate', title: '到港日期',templet: function(d) {
                            return formatDate(d.arrivalPortDate);
                        }},
                    {field: 'arrivalDate', title: '到达日期',templet: function(d) {
                            return formatDate(d.arrivalDate);
                        }},
                    {field: 'dimensions', title: '尺寸'},
                    {field: 'weight', title: '重量'},
                    {field: 'steelMill', title: '钢厂'},
                    {field: 'furnaceNumber', title: '炉号'},
                    {field: 'invoiceApplication', title: '发票申请'},
                    {field: 'operationType', title: '操作类型'},
                    {field: 'supplierBatchNumber', title: '供应商生产批号'},
                    {field: 'bundleCount', title: '支数'},
                    {field: 'placementArea', title: '放置区域'},
                    {field: 'purchaser', title: '购买方'},
                ]]
            });
        });
    }
    function formatDate(dateStr) {
        if (!dateStr) return '';
        let date = new Date(dateStr);
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
    function generateQRCode(shipments) {
        const qrcodeDisplayArea = document.getElementById('qrcodeDisplayArea');
        shipments.forEach(shipment => {
            let containerDiv = document.createElement('div'); // Container for each QR code and its text
            containerDiv.className = 'container';
            containerDiv.style.display = 'flex';
            containerDiv.style.alignItems = 'center'; // Align the QR code and text vertically
            containerDiv.style.marginBottom = '20px'; // Space between each set of QR code and text
            let qrDiv = document.createElement('div'); // Div for the QR code
            let textDiv = document.createElement('div'); // Div for the text description
            textDiv.style.marginLeft = '5px'; // Space between QR code and text
            textDiv.innerHTML = `
                             <strong>日期:</strong> ${formatDate(shipment.arrivalDate)}<br>
                             <strong>钢厂:</strong> ${shipment.steelMill}<br>
                             <strong>钢材等级:</strong> ${shipment.steelGrade}<br>
                             <strong>炉号:</strong> ${shipment.furnaceNumber}<br>
                             <strong>重量:</strong> ${shipment.weight}<br>
                             <strong>购买方:</strong> ${shipment.purchaser}<br>
                             <strong>贸易方式:</strong> ${shipment.tradeMode}`;
            $(qrDiv).qrcode({
                text: Object.values({
                    arrival_date:formatDate(shipment.arrivalDate),
                    steelMill: shipment.steelMill,
                    steel_grade: shipment.steelGrade,
                    furnaceNumber: shipment.furnaceNumber,
                    weight: shipment.weight,
                    bundleCount: shipment.bundleCount,
                    purchaser: shipment.purchaser,
                    trade_mode: shipment.trade_mode,
                    customer: shipment.customer,
                    delivery_point: shipment.delivery_point,
                    supplierBatchNumber: shipment.supplierBatchNumber
                }).join('|'),
                width: 128,
                height: 128,
                correctLevel: 3
            });

            containerDiv.appendChild(qrDiv); // Append the QR code to the container
            containerDiv.appendChild(textDiv); // Append the text to the container
            qrcodeDisplayArea.appendChild(containerDiv); // Append the container to the QR code display area

        });
    }

    function printQRCode() {
        window.print();
    }
</script>
</body>
</html>