<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/http_cdn.jsdelivr.net_npm_bulma@0.9.3_css_bulma.css">
  <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
  <script type="text/javascript" src="/static/js/jquery-2.1.0.js" charset="utf-8"></script>
  <style>
    body, html {
      height: 100%;
      background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    .container, .area-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .button {
      transition: transform 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 80%;
      margin-bottom: 1rem;
    }
    .button:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    }
    .area-title {
      color: #4A4A4A;
      margin: 10px 0;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .area-select {
      margin: 5px 0;
      width: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .notification {
      display: none; /* 初始状态下隐藏 */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      text-align: center;
      z-index: 1000;
    }
  </style>
  <title>PDA仓库管理</title>
</head>
<body>
<section class="section">
  <div class="area-container">
    <div style="display: flex; align-items: flex-start;">
      <div>
        <h3 data-area="A" class="area-title">A区: 二车间北面雨棚区域</h3>
        <h3 data-area="B" class="area-title">B区: 二车间棒材领料区</h3>
        <h3 data-area="C" class="area-title">C区: 二车间南面棒材仓库</h3>
      </div>
      <div style="margin-left: 20px;">
        <h3 data-area="D" class="area-title">D区: 二车间南面锻件仓库</h3>
        <h3 data-area="E" class="area-title">E区: 一车间管材领料区</h3>
        <h3 data-area="F" class="area-title">F区: 一车间管材仓库</h3>
      </div>
    </div>
    <select class="input area-select" name="area" id="area">
      <option value="" selected>选择库位</option>
      <option th:each="placement_area : ${areas}"
              th:value="${placement_area.area}"
              th:text="${placement_area.area}"></option>
    </select>
  </div>
  <div class="container">
    <button class="button " onclick="prepareModal('stockIn')" aria-label="入库">入库</button>
    <button class="button " onclick="showModal('stockOut')" aria-label="出库">出库</button>
    <button class="button " onclick="prepareModal('transfer')" aria-label="转库">转库</button>
    <button class="button " onclick="showModal('return')" aria-label="返库">返库</button>
    <button class="button" onclick="location.href='/pda-stockBoard'" aria-label="库存看板">库存看板</button>
  </div>
</section>
<!-- Bulma 通知 -->
<div class="notification is-danger" id="notification">
  <button class="delete" onclick="closeNotification()"></button>
  请选择库位
</div>
<!-- Bulma 模态框 -->
<div class="modal" id="scanModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="modalTitle">扫描二维码</p>
      <button class="delete" aria-label="close" onclick="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <input type="text" id="modalScanInput" placeholder="请扫描二维码" class="input" autocomplete="off">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="processScannedData()">确认</button>
      <button class="button" onclick="closeModal()">取消</button>
    </footer>
  </div>
</div>
<!-- 确认框 -->
<div class="modal" id="confirmModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">确认信息</p>
      <button class="delete" aria-label="close" onclick="closeConfirmModal()"></button>
    </header>
    <section class="modal-card-body">
      <label for="weightInput" class="form-label">重量</label>
      <input type="number" id="weightInput" class="input" step="0.01">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="confirmButton" onclick="confirmReturnToStock()">确认</button>
      <button class="button" onclick="closeConfirmModal()">取消</button>
    </footer>
  </div>
</div>
<script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
<script>
  var isListenerAdded = false;
  var currentOperation = null;

  function prepareModal(operation) {
    var placementArea = document.getElementById('area').value;
    if (!placementArea && (operation === 'stockIn' || operation === 'transfer')) {
      showNotification('请选择库位', 'is-danger');
      return;
    }
    showModal(operation);
  }

  function showModal(operation) {
    currentOperation = operation;
    updateModalTitle();
    openModal();
    var modalScanInput = document.getElementById('modalScanInput');
    modalScanInput.focus();
    if (!isListenerAdded) {
      modalScanInput.addEventListener('keydown', handleEnterKey);
      isListenerAdded = true;
    }
  }


  function updateModalTitle() {
    var placementArea = document.getElementById('area').value;
    var title = '';

    switch (currentOperation) {
      case 'stockIn':
        title = '入库';
        if (placementArea) {
          title += '到 ' + placementArea;
        }
        break;
      case 'stockOut':
        title = '出库';
        break;
      case 'transfer':
        title = '转库';
        if (placementArea) {
          title += '到 ' + placementArea;
        }
        break;
      case 'return':
        title = '返库';
        break;
    }
    document.getElementById('modalTitle').innerText = title;
  }

  document.getElementById('area').addEventListener('change', updateModalTitle);

  function handleEnterKey(event) {
    if (event.key === 'Enter') {
      processScannedData();
    }
  }

  function openModal() {
    var modal = document.getElementById('scanModal');
    modal.classList.add('is-active');
  }

  function closeModal() {
    var modal = document.getElementById('scanModal');
    modal.classList.remove('is-active');
    document.getElementById('modalScanInput').value = '';
    var modalScanInput = document.getElementById('modalScanInput');
    if (isListenerAdded) {
      modalScanInput.removeEventListener('keydown', handleEnterKey);
      isListenerAdded = false;
    }
    currentOperation = null;
  }

  function processScannedData() {
    var scannedData = document.getElementById('modalScanInput').value;
    console.log(scannedData);
    try {
      var correctedJson = scannedData.replace(/(\w+:)|(\w+ :)/g, function (matchedString) {
        return '"' + matchedString.substring(0, matchedString.length - 1) + '":';
      });
      var values = scannedData.split('|');
      if (values.length < 11) {
        layer.alert("扫描数据格式不正确，缺少必要的信息");
        throw new Error('扫描数据格式不正确，缺少必要的信息');
      }
      var data = {
        arrivalDate: values[0],
        steelMill: values[1],
        steelGrade: values[2],
        furnaceNumber: values[3],
        weight: values[4],
        bundleCount: values[5],
        purchaser: values[6],
        tradeMode: values[7],
        customer: values[8],
        deliveryPoint: values[9],
        supplierBatchNumber: values[10],
        uniqueIdentifier:values[11]
      };
      switch (currentOperation) {
        case 'stockIn':
          stockIn(data);
          break;
        case 'stockOut':
          stockOut(data);
          break;
        case 'transfer':
          transfer(data);
          break;
        case 'return':
          fetchWeight(data);
          break;
      }
      document.getElementById('modalScanInput').value = '';
      document.getElementById('modalScanInput').focus();
    } catch (error) {
      console.error('解析扫描数据时出错: ', error);
    }
  }
  function checkPlacementArea() {
    var placementAreaData = document.getElementById('area').value;
    if (!placementAreaData) {
      layer.alert("请选择库位");
      return false;
    }
    return placementAreaData;
  }

  function stockIn(data) {
    var placementAreaData = checkPlacementArea();
    if (!placementAreaData) return;
    fetch('/shipment/updateOperationType', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        uniqueIdentifier: data.uniqueIdentifier,
        operationType: '入库',
        placementArea: placementAreaData
      })
    }).then(response => {
      if (response.ok) {
        console.log('operationType updated');
        showNotification('入库成功', 'is-success');
      } else {
        showNotification('该批次号已入库，重复入库无效', 'is-danger');
      }
    }).catch(error => {
      console.error('Error updating operationType: ', error);
    });
  }

  function stockOut(data) {
    fetch('/shipment/stockOut', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ uniqueIdentifier: data.uniqueIdentifier })
    }).then(response => {
      if (response.ok) {
        console.log('operationType updated');
        showNotification('出库成功', 'is-success');
      } else {
        showNotification('该产品无库存，操作无效', 'is-danger');
      }
    }).catch(error => {
      console.error('Error updating operationType: ', error);
    });
  }

  function transfer(data) {
    var placementAreaData = checkPlacementArea();
    if (!placementAreaData) return;
    fetch('/shipment/transfer', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        uniqueIdentifier: data.uniqueIdentifier,
        placementArea: placementAreaData
      })
    }).then(response => {
      if (response.ok) {
        console.log('operationType updated');
        showNotification('转库成功', 'is-success');
      }  else {
        return response.text().then(text => {
          showNotification(text, 'is-danger');
        });
      }
    }).catch(error => {
      console.error('Error updating operationType: ', error);
      showNotification('转库操作失败', 'is-danger');
    });
  }
  function returnToStock(data) {
    fetch('/shipment/return', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(response => {
      if (response.ok) {
        console.log('operationType updated');
        showNotification('返库成功', 'is-success');
      } else {
        showNotification('该批次号已入库，重复入库无效', 'is-danger');
      }
    }).catch(error => {
      console.error('Error updating operationType: ', error);
    });
  }
  function fetchWeight(data) {
    fetch('/shipment/getWeight', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ uniqueIdentifier: data.uniqueIdentifier })    })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              document.getElementById('weightInput').value = data.weight;
              closeModal();
              openConfirmModal(data.uniqueIdentifier, data.weight);
            })
            .catch(error => {
              console.error('Error fetching weight:', error);
            });
  }

  function openConfirmModal(uniqueIdentifier, weight) {
    var confirmModal = document.getElementById('confirmModal');
    confirmModal.classList.add('is-active');
    document.getElementById('confirmButton').onclick = function() {
      var newWeight = document.getElementById('weightInput').value;
      confirmReturnToStock(uniqueIdentifier, newWeight);
    };
  }

  function closeConfirmModal() {
    var confirmModal = document.getElementById('confirmModal');
    confirmModal.classList.remove('is-active');
  }

  function confirmReturnToStock(uniqueIdentifier, weight) {
    returnToStock({ uniqueIdentifier: uniqueIdentifier, weight: weight });
    closeConfirmModal();
  }

  function showNotification(message, type) {
    var notification = document.getElementById('notification');
    notification.className = 'notification ' + type;
    notification.innerHTML = '<button class="delete" onclick="closeNotification()"></button>' + message;
    notification.style.display = 'block';
    setTimeout(() => {
      notification.style.display = 'none';
    }, 1300);
  }

  function closeNotification() {
    var notification = document.getElementById('notification');
    notification.style.display = 'none';
  }
</script>
</body>
</html>
