<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/http_cdn.jsdelivr.net_npm_bulma@0.9.3_css_bulma.css">
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <style>
        body, html {
            height: 100%;
            background: linear-gradient(13deg, #f5f7fa 0%, rgb(4, 84, 145) 100%);
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            height: 85%;
            width: 150%;
            padding: 0px;
            transform: rotate(-90deg); /* 顺时针旋转90度 */
            overflow-x: scroll; /* 允许水平滚动 */

        }
    </style>
    <title>库存表格</title>
</head>
<body>
<button class="button" onclick="history.back()" aria-label="返回">返回</button>
<div class="container">
    <div id="recordTableContainer" style="width: 100%; margin-top: 6px;">
        <table id="recordTable" lay-filter="recordTableFilter"></table>
    </div>
</div>

<script src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
<script src="/static/lib/layui-v2.8.17/layui.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var params = new URLSearchParams(window.location.search);
        var subArea = params.get('subArea');
        var currentTime = new Date().toISOString();

        layui.use(['table'], function() {
            var table = layui.table;
            table.render({
                elem: '#recordTable',
                url: '/shipment/getStockStatusBeforeCutoffDate',
                where: { placementArea: subArea, cutoffDate: currentTime },
                parseData: function(res) {
                    var filteredData = res.filter(function(record) {
                        return record.weight > 0;
                    });
                    return {
                        "code": 0,
                        "msg": "",
                        "count": filteredData.length,
                        "data": filteredData
                    };
                },
                request: {
                    pageName: 'page',
                    limitName: 'size'
                },
                cols: [ [
                    {field: 'uniqueIdentifier', title: '材料ID', totalRowText: '合计',minWidth: 120},
                    // {field: 'furnaceNumber', title: '炉号'},
                    {field: 'steelMill', title: '钢厂',minWidth: 120, totalRowText: '总捆数:'},
                    {field: 'steelGrade', title: '钢材等级',minWidth: 120},
                    {field: 'dimensions', title: '尺寸',minWidth: 120, totalRowText: '总重量'},
                    // {field: 'tradeMode', title: '贸易方式'},
                    {field: 'weight', title: '重量',minWidth: 120},
                    // {field: 'customer', title: '客户',minWidth: 120},
                ]],
                limits: [200, 500, 1000, 20000],
                limit: 200,
                page: true,
                totalRow: true,
                done: function(res, curr, count) {
                    var totalBundleCount = 0;
                    var totalWeight = 0;
                    res.data.forEach(function(item) {
                        totalBundleCount += 1;
                        totalWeight += parseFloat(item.weight);
                    });
                    var totalRow = document.getElementsByClassName('layui-table-total')[0];
                    if (totalRow) {
                        var bundleCountCell = totalRow.querySelector('td[data-field="steelGrade"]');
                        var weightCell = totalRow.querySelector('td[data-field="weight"]');
                        if (bundleCountCell) {
                            bundleCountCell.getElementsByClassName('layui-table-cell')[0].innerText = totalBundleCount.toString();
                        }
                        if (weightCell) {
                            weightCell.getElementsByClassName('layui-table-cell')[0].innerText = totalWeight.toFixed(2).toString();
                        }
                    }
                }
            });
        });
    });
</script>
</body>
</html>
