<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depository_manage.mapper.clck.ShipmentDetailsMapper">

    <!-- ResultMap 定义 -->
    <resultMap id="shipmentDetailsMap" type="com.depository_manage.entity.ShipmentDetails">
        <id column="id" property="id"/>
        <result column="unique_identifier" property="uniqueIdentifier"/>
        <result column="invoice_number" property="invoiceNumber"/>
        <result column="customer" property="customer"/>
        <result column="trade_mode" property="tradeMode"/>
        <result column="delivery_point" property="deliveryPoint"/>
        <result column="arrival_port_date" property="arrivalPortDate" jdbcType="DATE"/>
        <result column="arrival_date" property="arrivalDate" jdbcType="DATE"/>
        <result column="steel_grade" property="steelGrade"/>
        <result column="dimensions" property="dimensions"/>
        <result column="weight" property="weight" jdbcType="DOUBLE"/>
        <result column="steel_mill" property="steelMill"/>
        <result column="furnace_number" property="furnaceNumber"/>
        <result column="invoice_application" property="invoiceApplication"/>
        <result column="operation_type" property="operationType"/>
        <result column="supplier_batch_number" property="supplierBatchNumber"/>
        <result column="bundle_count" property="bundleCount" jdbcType="INTEGER"/>
        <result column="placement_area" property="placementArea"/>
        <result column="purchaser" property="purchaser"/>
    </resultMap>

    <!-- 插入操作 -->
    <insert id="insertShipmentDetail" parameterType="com.depository_manage.entity.ShipmentDetails">
        INSERT INTO shipment_details (
            unique_identifier, invoice_number, customer, trade_mode, delivery_point, arrival_port_date,
            arrival_date, steel_grade, dimensions, weight, steel_mill, furnace_number, invoice_application,
            operation_type, supplier_batch_number, bundle_count, placement_area, purchaser
        ) VALUES (
                     #{uniqueIdentifier}, #{invoiceNumber}, #{customer}, #{tradeMode}, #{deliveryPoint}, #{arrivalPortDate},
                     #{arrivalDate}, #{steelGrade}, #{dimensions}, #{weight}, #{steelMill}, #{furnaceNumber}, #{invoiceApplication},
                     #{operationType}, #{supplierBatchNumber}, #{bundleCount}, #{placementArea}, #{purchaser}
                 )
    </insert>

    <!-- Batch insert operation -->
    <insert id="insertShipmentDetails" parameterType="java.util.List">
        INSERT INTO shipment_details (
        unique_identifier, invoice_number, customer, trade_mode, delivery_point, arrival_port_date,
        arrival_date, steel_grade, dimensions, weight, steel_mill, furnace_number, invoice_application,
        operation_type, supplier_batch_number, bundle_count, placement_area, purchaser
        ) VALUES
        <foreach collection="list" item="detail" separator=",">
            (
            #{detail.uniqueIdentifier}, #{detail.invoiceNumber}, #{detail.customer}, #{detail.tradeMode}, #{detail.deliveryPoint},
            #{detail.arrivalPortDate}, #{detail.arrivalDate}, #{detail.steelGrade}, #{detail.dimensions}, #{detail.weight},
            #{detail.steelMill}, #{detail.furnaceNumber}, #{detail.invoiceApplication},
            #{detail.operationType}, #{detail.supplierBatchNumber}, #{detail.bundleCount}, #{detail.placementArea}, #{detail.purchaser}
            )
        </foreach>
    </insert>

    <!-- 使用resultMap的查询 -->
    <select id="selectShipmentDetailById" parameterType="int" resultMap="shipmentDetailsMap">
        SELECT * FROM shipment_details WHERE id = #{id}
    </select>

    <!-- 查询所有记录操作 -->
    <select id="selectAllShipmentDetails" resultMap="shipmentDetailsMap" parameterType="map">
        SELECT * FROM shipment_details WHERE 1=1
        <if test="uniqueIdentifier != null and uniqueIdentifier != ''">
            AND unique_identifier = #{uniqueIdentifier}
        </if>
        <if test="invoiceNumber != null and invoiceNumber != ''">
            AND invoice_number = #{invoiceNumber}
        </if>
        <if test="customer != null and customer != ''">
            AND customer = #{customer}
        </if>
        <if test="tradeMode != null and tradeMode != ''">
            AND trade_mode = #{tradeMode}
        </if>
        <if test="steelGrade != null and steelGrade != ''">
            AND steel_grade = #{steelGrade}
        </if>
        <if test="dimensions != null and dimensions != ''">
            AND dimensions = #{dimensions}
        </if>
        <if test="steelMill != null and steelMill != ''">
            AND steel_mill = #{steelMill}
        </if>
        <if test="supplierBatchNumber != null and steelMill != ''">
            AND supplier_batch_number LIKE CONCAT('%',#{supplierBatchNumber},'%')
        </if>
        <if test="furnaceNumber != null and furnaceNumber != ''">
            AND furnace_number LIKE CONCAT('%',#{furnaceNumber},'%')
        </if>
        <if test="placementArea != null and placementArea != ''">
            AND placement_area = #{placementArea}
        </if>
        <if test="purchaser != null and purchaser != ''">
            AND purchaser = #{purchaser}
        </if>
        <if test="startDate != null and endDate != null">
            AND DATE(arrival_date) BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY id DESC
        <if test="begin != null and size != null">
            LIMIT #{begin},#{size}
        </if>
    </select>
    <select id="countShipmentDetails" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM shipment_details WHERE 1=1
        <if test="uniqueIdentifier != null and uniqueIdentifier != ''">
            AND unique_identifier = #{uniqueIdentifier}
        </if>
        <if test="invoiceNumber != null and invoiceNumber != ''">
            AND invoice_number = #{invoiceNumber}
        </if>
        <if test="customer != null and customer != ''">
            AND customer = #{customer}
        </if>
        <if test="tradeMode != null and tradeMode != ''">
            AND trade_mode = #{tradeMode}
        </if>
        <if test="steelGrade != null and steelGrade != ''">
            AND steel_grade = #{steelGrade}
        </if>
        <if test="dimensions != null and dimensions != ''">
            AND dimensions = #{dimensions}
        </if>
        <if test="steelMill != null and steelMill != ''">
            AND steel_mill = #{steelMill}
        </if>
        <if test="supplierBatchNumber != null and steelMill != ''">
            AND supplier_batch_number LIKE CONCAT('%',#{supplierBatchNumber},'%')
        </if>
        <if test="furnaceNumber != null and furnaceNumber != ''">
            AND furnace_number LIKE CONCAT('%',#{furnaceNumber},'%')
        </if>
        <if test="placementArea != null and placementArea != ''">
            AND placement_area = #{placementArea}
        </if>
        <if test="purchaser != null and purchaser != ''">
            AND purchaser = #{purchaser}
        </if>
    </select>

    <!-- 更新操作 -->
    <update id="updateShipmentDetail" parameterType="com.depository_manage.entity.ShipmentDetails">
        UPDATE shipment_details
        SET
            unique_identifier = #{uniqueIdentifier},
            invoice_number = #{invoiceNumber},
            customer = #{customer},
            trade_mode = #{tradeMode},
            delivery_point = #{deliveryPoint},
            arrival_port_date = #{arrivalPortDate},
            arrival_date = #{arrivalDate},
            steel_grade = #{steelGrade},
            dimensions = #{dimensions},
            weight = #{weight},
            steel_mill = #{steelMill},
            furnace_number = #{furnaceNumber},
            invoice_application = #{invoiceApplication},
            operation_type = #{operationType},
            supplier_batch_number = #{supplierBatchNumber},
            bundle_count = #{bundleCount},
            placement_area = #{placementArea},
            purchaser = #{purchaser}
        WHERE id = #{id}
    </update>

    <!-- 删除操作 -->
    <delete id="deleteShipmentDetail" parameterType="int">
        DELETE FROM shipment_details WHERE id = #{id}
    </delete>

    <!-- 更新 operation_type 和 placement_area -->
    <update id="updateOperationTypeBySupplierBatchNumber" parameterType="map">
        UPDATE shipment_details
        SET operation_type = #{operationType}, placement_area = #{placementArea}
        WHERE supplier_batch_number = #{supplierBatchNumber}
          AND (operation_type IS NULL OR operation_type = '')
    </update>

    <!-- 根据 supplier_batch_number 查询在库记录 -->
    <select id="findStockInBySupplierBatchNumber" parameterType="string" resultMap="shipmentDetailsMap">
        SELECT * FROM shipment_details
        WHERE supplier_batch_number = #{supplierBatchNumber}
          AND (operation_type = '入库' OR operation_type = '转库')
        ORDER BY id DESC
            LIMIT 1
    </select>

    <!-- 根据 supplier_batch_number 查询在库或转库记录 -->
    <select id="findStockInOrTransferBySupplierBatchNumber" parameterType="string" resultMap="shipmentDetailsMap">
        SELECT * FROM shipment_details
        WHERE supplier_batch_number = #{supplierBatchNumber}
          AND (operation_type = '入库' OR operation_type = '转库')
        ORDER BY id DESC
            LIMIT 1
    </select>

    <!-- 计算净入库数量 -->
    <select id="getNetStockInCountBySupplierBatchNumber" resultType="int">
        SELECT (
                   SELECT COUNT(*) FROM shipment_details
                   WHERE supplier_batch_number = #{supplierBatchNumber}
                     AND operation_type = '入库'
               ) - (
                   SELECT COUNT(*) FROM shipment_details
                   WHERE supplier_batch_number = #{supplierBatchNumber}
                     AND operation_type = '出库'
               ) AS netStockInCount
    </select>

    <!-- 查询在截止日期前的在库情况 -->
    <select id="getStockStatusBeforeCutoffDate" resultMap="shipmentDetailsMap" parameterType="map">
        WITH in_out_count AS (
        SELECT
        supplier_batch_number,
        SUM(CASE WHEN operation_type = '入库' THEN 1 ELSE 0 END) AS in_count,
        SUM(CASE WHEN operation_type = '出库' THEN 1 ELSE 0 END) AS out_count
        FROM
        shipment_details
        WHERE
        arrival_date &lt;= #{cutoffDate}
        <if test="uniqueIdentifier != null and uniqueIdentifier != ''">
            AND unique_identifier = #{uniqueIdentifier}
        </if>
        <if test="invoiceNumber != null and invoiceNumber != ''">
            AND invoice_number = #{invoiceNumber}
        </if>
        <if test="customer != null and customer != ''">
            AND customer = #{customer}
        </if>
        <if test="tradeMode != null and tradeMode != ''">
            AND trade_mode = #{tradeMode}
        </if>
        <if test="steelGrade != null and steelGrade != ''">
            AND steel_grade = #{steelGrade}
        </if>
        <if test="dimensions != null and dimensions != ''">
            AND dimensions = #{dimensions}
        </if>
        <if test="steelMill != null and steelMill != ''">
            AND steel_mill = #{steelMill}
        </if>
        <if test="supplierBatchNumber != null and steelMill != ''">
            AND supplier_batch_number LIKE CONCAT('%',#{supplierBatchNumber},'%')
        </if>
        <if test="furnaceNumber != null and furnaceNumber != ''">
            AND furnace_number LIKE CONCAT('%',#{furnaceNumber},'%')
        </if>
        <if test="placementArea != null and placementArea != ''">
            AND placement_area = #{placementArea}
        </if>
        <if test="purchaser != null and purchaser != ''">
            AND purchaser = #{purchaser}
        </if>
        GROUP BY
        supplier_batch_number
        HAVING
        in_count > out_count
        ),
        latest_in_info AS (
        SELECT
        sd.*
        FROM
        shipment_details sd
        JOIN (
        SELECT
        supplier_batch_number,
        MAX(id) AS latest_id
        FROM
        shipment_details
        WHERE
        operation_type = '入库'
        AND arrival_date &lt;= #{cutoffDate}
        <if test="uniqueIdentifier != null and uniqueIdentifier != ''">
            AND unique_identifier = #{uniqueIdentifier}
        </if>
        <if test="invoiceNumber != null and invoiceNumber != ''">
            AND invoice_number = #{invoiceNumber}
        </if>
        <if test="customer != null and customer != ''">
            AND customer = #{customer}
        </if>
        <if test="tradeMode != null and tradeMode != ''">
            AND trade_mode = #{tradeMode}
        </if>
        <if test="steelGrade != null and steelGrade != ''">
            AND steel_grade = #{steelGrade}
        </if>
        <if test="dimensions != null and dimensions != ''">
            AND dimensions = #{dimensions}
        </if>
        <if test="steelMill != null and steelMill != ''">
            AND steel_mill = #{steelMill}
        </if>
        <if test="supplierBatchNumber != null and steelMill != ''">
            AND supplier_batch_number LIKE CONCAT('%',#{supplierBatchNumber},'%')
        </if>
        <if test="furnaceNumber != null and furnaceNumber != ''">
            AND furnace_number LIKE CONCAT('%',#{furnaceNumber},'%')
        </if>
        <if test="placementArea != null and placementArea != ''">
            AND placement_area = #{placementArea}
        </if>
        <if test="purchaser != null and purchaser != ''">
            AND purchaser = #{purchaser}
        </if>
        GROUP BY
        supplier_batch_number
        ) sub ON sd.id = sub.latest_id
        )
        SELECT
        latest_in_info.supplier_batch_number,
        latest_in_info.unique_identifier,
        latest_in_info.invoice_number,
        latest_in_info.delivery_point,
        latest_in_info.arrival_port_date,
        latest_in_info.arrival_port_date,
        latest_in_info.purchaser,
        latest_in_info.customer,
        latest_in_info.trade_mode,
        latest_in_info.steel_grade,
        latest_in_info.dimensions,
        latest_in_info.weight,
        latest_in_info.bundle_count,
        latest_in_info.steel_mill,
        latest_in_info.furnace_number,
        latest_in_info.placement_area,
        in_out_count.in_count,
        in_out_count.out_count,
        latest_in_info.arrival_date
        FROM
        latest_in_info
        JOIN
        in_out_count ON latest_in_info.supplier_batch_number = in_out_count.supplier_batch_number
        ORDER BY
        latest_in_info.arrival_date DESC
        <if test="begin != null and size != null">
            LIMIT #{begin},#{size}
        </if>
    </select>

</mapper>
